@page "/databind"
@using ContactManagement.Models
@using MudBlazor
@using Microsoft.EntityFrameworkCore
@using ContactManagement.Components.Shared

@inject IntranetHomeContext dbcontext

<h3>TestDataBinding</h3>

@code {

}
